<.app_header current_user={@current_user} draft_count={assigns[:draft_count] || 0} />

<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="container mx-auto">
    {@inner_content}
  </div>
</main>

<.flash_group flash={@flash} />
