<div class="flex flex-col h-[100dvh] w-full overflow-hidden bg-base-100 text-base-content">
  <.app_header current_user={@current_user} />

  <main class="flex-1 overflow-hidden relative">
    {@inner_content}
  </main>
</div>

<.flash_group flash={@flash} />
